@{
    ViewBag.Title = localizer["OCBT_Head_Title"];
}

@section Styles{
    @*<link rel="stylesheet" href="~/css/simple-line-icons.css">
        <link rel="stylesheet" href="~/css/webfont/zh-tw.css">*@
    <link rel="stylesheet" href="~/css/pages/login.css">
}
<div class="login-body">
    <div class="page-wrap login-wrap">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <form id="login_form" method="post" role="form" style="display: block;">
                    <div class="board">
                        <h1 class="title">KKday @localizer["Login"]</h1>
                        <div class="form-group">
                            <label class="addRedStar">@localizer["Email"]</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="@localizer["Placeholder_Login_Email"]" tabindex="1" required />
                        </div>
                        <div class="form-group">
                            <label class="addRedStar">@localizer["Password"]</label>
                            <input type="password" id="psw" name="password" class="form-control" placeholder="@localizer["Placeholder_Login_Password"]" tabindex="2" required />
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" tabindex="3" id="rememberMe" name="rememberMe">
                                @localizer["Login_Remember_Me"]
                            </label>
                        </div>
                        <input type="button" name="login-submit" id="login-submit" tabindex="4" class="btn btn-primary btn-block" value="@localizer["Login"]" onclick="UserAuth();">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                e.stopPropagation();
                UserAuth();
            }
        });

        $('#login_form').bootstrapValidator({
            feedbackIcons: { valid: null, invalid: null, validating: null }
        });

    });

    function UserAuth() {
        var timezone = moment.tz.guess();

        // 欄位驗證=>Use Bt Validator
        $('#login_form').data("bootstrapValidator").validate();
        if (!$('#login_form').data("bootstrapValidator").isValid()) return false;

        $.ajax({
            url: _root_path + 'Login/AuthenAsync?culture=' + _culture,
            type: 'GET',
            data: {
                Email: $('#email').val(), Password: $('#password').val(), TimeZone: timezone, RememberMe: $("#rememberMe").is(":checked")
            },
            error: function (xhr, status, error) {
            },
            success: function (result) {
                if (result.status == "OK") {
                    window.location.href = result.url;
                }
                else {
                    alert(result.msg);
                }
            }
        });
    }
</script>