@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* CSS *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css">
    <link rel="stylesheet" href="~/lib/bootstrap-validator/dist/css/bootstrapValidator.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    @* JavaScript *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-@(CultureInfo.CurrentCulture).js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-validator/dist/js/language/@(CultureInfo.CurrentCulture).js" asp-append-version="true"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment-timezone.min.js" asp-append-version="true"></script>
    <script src="~/js/moment-timezone-with-data.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        var _root_path = '@Url.Content("~/")';
        var _culture = '@CultureInfo.CurrentCulture.ToString()';
        $(function () {
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KKday.Web.OCBT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @(CultureInfo.CurrentCulture.ToString().ToLower().Contains("zh-tw") ? "繁體中文" : (CultureInfo.CurrentCulture.ToString().ToLower().Contains("en-us") ? "English" : "繁體中文"))
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Content("~/Locale/Index/zh-tw")">繁體中文</a>
                                <a class="dropdown-item" href="@Url.Content("~/Locale/Index/en-us")">English</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            COPYRIGHT &copy; @(DateTime.Today.Year) KKday All rights reserved.
        </div>
    </footer>
</body>
</html>
